body {
	font-family: sans-serif;
}

p.header {
	font-weight: bold;
	font-size: 1.2em;
}

div.option {
	border: 1px solid rgba(12, 12, 13, 0.3);
	border-radius: 2px;
	padding: 15px 20px;
	margin-bottom: 10px;
}

h2 {
	margin: 0;
	margin-bottom: 3px;
	font-weight: normal;
	display: inline;
}

span.info {
	font-size: 0.9em;
	color: #888;
	float: right;
}

label {
	font-weight: bold;
	font-size: 1.1em;
	margin-right: 10px;
}
